@model VercelAdminIndexViewModel
@inject OrchardCore.IOrchardHelper orchard

<h1>Deployments</h1>
<p>@Html.ActionLink("Deploy Now", nameof(Nmbl.Deployments.Vercel.OcModule.Controllers.VercelDeploymentsController.Deploy))</p>

@if (@Model.Deployments.Count() > 0) {
    <ul class="list-group">
        @foreach (var deployment in @Model.Deployments) {
            <li class="list-group-item">
                <div class="properties">
                    <div class="related float-right"><a href="https://@deployment.Url">@deployment.Url</a></div>
                    <div class="header">
                        <div class="float-left">
                            @{
                                var localTime = await orchard.ToLocalDateTimeAsync(deployment.Created);

                                <date>@localTime.ToShortDateString() @localTime.ToLongTimeString()</date>
                                <span> &mdash; @deployment.State.ToString()</span>
                                @if (!string.IsNullOrEmpty(deployment.Target)) {
                                    <span class="hint"> &ndash; @deployment.Target</span>
                                }
                            }
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
} else {
    <div><h2>No Deployments Found!</h2></div>
}